a.button,a.button:hover,a.button:active {
	color: white;	
	text-decoration: none;
}

.button {
	display: block;
	width: 100%;
	margin:auto;
	max-width: 320px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
	@include border-radius(7px);
	font-size: 24px;
	font-family: 'MyriadProBoldItalic';
	cursor: pointer;
	margin-top: 8px;
	margin-bottom: 8px;
}

.button.inschrijvingen {
	background-color: $groenekleur;
}

.button.ladies {
	background-color: $donkerrozekleur;
}

.button.ploegbeheer {
	background-color: $grijzeachtergrond;
	
	color: white;
	margin-top: 30px;
	margin-bottom: 30px;
	@include breakpoint(tablet) {
		margin-top: 60px;
		margin-bottom: 60px;
	}
}

.button:hover{
	cursor: pointer;
} 

.button.opslaan {
	margin-top: 40px;
	margin-bottom: 40px;
}
.button.opslaan:hover {
	@include box-shadow(rgba(blue, 0.4) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset);
}
.button.opslaan.disabled:hover {
	@include box-shadow(none);
}

.button.fotos {
	color: #4c4c06;
	background-color: white;
	
}
.button.fotos:hover {
	color: #4c4c06;
}


.button.partners, .button.partners:hover, .button.partners:focus {
	background-color: white;
	color: $groenekleur;
}

.button.contact, .button.contact:hover, .button.contact:focus {
	color: $groencontact;
	background-color: white;
}


a.nextslide, a.nextslide:hover, a.nextslide:focus {
	/* width: 75px;
	height: 75px;
	display: block;
	background:white;
	border-radius: 50%;
	color: transparent;
	margin:auto;
	i {
		@include vertical-align();
	} */
	display: block;
	margin:auto;
}

.button.disabled {
	cursor: default;
	@include filter(opacity(0.4));
}