/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-mrt-2015, 10:25:10
    Author     : Gebruiker
*/

$groenekleur: #d3d800;
$donkergroenekleur: #404604;
$ladieskleur: #e4013a;
$grijzeachtergrond: #fff;
$grijzeachtergrond: #ccc;
$donkergrijzekleur: #605f60;
$rozekleur: #f9a0b3;
$donkerrozekleur: #e4013a;
$partnerskleur: #b7c712;
$groencontact: #808429;
$groenpartners: #aaae01;