#section-home, #fullpage{
    height: 100%;
}

.data {
    .row.legerij {
        height: 15%;
        display: block;
    }
    .row.ladies {
        width: 100%;
        padding-left: 5px;padding-right: 5px;
        padding-bottom: $margestartpagina*2;
        @include breakpoint(tablet) {
            height: 15%;
            //position: absolute;
            /* left: 50%;
            @include transform(translateX(-50%)); */
        }
        .container {
            height: 100%;
        }
    }
    .row.logos {
        padding-left: 5px;padding-right: 5px;
        padding-top: $margestartpagina;
        width: 100%;
        @include breakpoint(tablet) {
            height: 15%;
        }
    }
    .row.logos, .row.ladies {
        
        margin-left: 0px;
        margin-right:0px;

        .logo-coldkitchen, .logo-coldkitchen, .logo-coldkitchenladies, .logo-ergo {
            img {
                @include breakpoint(mobileonly) {
                    max-height: 30px;
                }
            }
        }
        .logo-coldkitchen, .logo-coldkitchenladies {
            img {
                float:left;
                max-height: 110px; 
                @include breakpoint(mobileonly) {
                    max-height: 30px;
                }
            }
        }

        .logo-coldkitchenladies {
            img {
                left: 0px;
            }
        }

        .logo-coldkitchenladies, .logo-ergo {
            height: 100%;
            img {
                display: block;
                position: absolute;
                bottom: 0px;
            }
        }
    
        .logo-ergo, .logo-facebook {
            img {
                display: block;
                position: absolute;
                right:0px; 
                @include breakpoint(mobileonly) {
                    max-height: 30px;
                }
                @include breakpoint(tablet) {
                    max-height: 85px;     
                }
                
            }
        }
    }

    .row.datum{
        //datum
        //
        height: 10%;
        margin-left:0px;
        margin-right: 0px;
        @include breakpoint(tablet) {
            height: 20%;    
        }
        font-family: 'MyriadProBoldItalic';
        width: 100%;
        text-align: center;
        color: white;
        font-size: 36px;
        position: relative;

        @include breakpoint(desktop){
            font-size: 72px;
        }
        @include text-shadow(rgba($donkergroenekleur, 0.2) 1px 1px 0, rgba($donkergroenekleur, 0.2) 2px 2px 0, rgba($donkergroenekleur, 0.2) 3px 3px 0);
        .container {
            height: 100%;
            .datumtekst {
                @include vertical-align();
            }
        }
        
    }
    .row.midden{
        //iconen
        height: 66%;
        padding: 0 2%;
        margin-left: 0px;
        margin-right: 0px;
        @include breakpoint(tablet) {
            height: 35%;
            min-height: 30%;    
        }
        
    }

}

.data {
    height: 100%;
}

a.nextslide {
    height: 100%;
    width: 100%;
    //display: none;
    img {
        width: 75px;
        height: 75px;
        display: block;
        margin:auto;
    }
}

.onderaan {
    margin-top: 20px;
    //margin-bottom: 20px;
    //display: none;
    @include breakpoint(tablet) {
        width: 100%;    
    }
    
}
.onderaan.eerstepagina {
    @include breakpoint(tablet) {
        position: relative;  
        bottom : 110px;  
    }
}
