.paginareglement {
	height: 90%;
	.container {
		height: 30%;
	}
	
	h1 {

		margin-bottom: 25px;
		margin-top: 25px;

		@include breakpoint(tablet) {
			margin-bottom: 35px;
			margin-top: 35px;
		}	

		@include vertical-align();

	}

	footer {
		width: 100%;
		height: 70%;
		background-color: $groenpartners;
		//text-align: center;
		padding: 5px;
		@include breakpoint(tablet) {
			padding: 10px 40px;

		}
		
		ul {
			
			padding-left: 0px;
			color: white;
			li {
				list-style-position: outside;
				margin-bottom: 3px;
				@include breakpoint(tablet) {
					margin-bottom: 15px;
				}

				font-family: 'MyriadProRegular';
				@include breakpoint(tablet) {
					font-size: 22px;	
				}
	  			font-size: 18px;
				
				
			}
		}

	}
}