#section-inschrijven {
	position: relative;
	background-color: white;

	img {
		display: block;
		margin:auto;
	}

	.inschrijven-iconen {
		margin-top: 50px;
		margin-bottom: 30px;
		overflow:hidden;
	}

	h3 {
		font-family: 'MyriadProSemiBold';
	}
	h4 {
		margin-top: 20px;
		margin-bottom: 20px;
		font-family: 'MyriadProSemiBoldItalic';
		font-size: 22px;
	}

	.uitleg {
		font-family: 'MyriadProLight';
		font-size: 16px;
		text-align:center;
		display: block;
		@include breakpoint(mobileonly) {
			width: 96%;
		}
		@include breakpoint(tablet) {
			width: 80%;
		}
		@include breakpoint(desktop) {
			width: 60%;	
		}
		@include breakpoint(mobileonly) {
			margin-bottom: 35px;
		}
		
		margin: auto;
	}

	.extra {
		font-family: 'MyriadProLight';
		font-size: 22px;
		text-align: center;
		display: block;
		margin-bottom: 10px;
	}
}