#section-contact, #section-footer {
	background-color: $groencontact;
	color: white;
	text-align: center;
	//height: 100%;
	.container {
		//height: 100%;
	}
	position: relative;
	h1, h2, h3, h4, h5 {
		color: white;
	}
	.row {
		//height: 33%;
	}

	
	p {
		
		font-size: 16px;
		font-family: 'MyriadProLight';

		@include breakpoint(tablet) {
			font-size: 18px;
			margin-top: 50px;
			margin-bottom: 50px;
		}
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

#section-footer {
	h1 {
		@include breakpoint(mobileonly) {
			@include vertical-align();	
		}
		
	}
	.container {
		//height: 100%;
	}
	#map-canvas {
		margin-top: 5px;
		height: 250px;
		@include breakpoint(tablet) {
			height: 400px;	
		}
		
		width: 100%;
	}
	.row.footer {
		//height: 15%;
		margin-top: 30px;
		@include breakpoint(tablet) {
			position: relative;
			//top: 15%;
		}
	}
	.row.copyright {
		//height: 5%;
	}
	a, a:hover, a:focus {
		@include breakpoint(tablet) {
			font-size: 24px;	
		}
		font-size: 16px;
		color: white;
		text-decoration: none;
		font-family: 'MyriadProSemiBoldItalic';
	}
	a.powered {
		font-size: 14px;
	}
}