#section-inschrijven {
	position: relative;
	

	img {
		display: block;
		margin:auto;
	}

	.inschrijven-iconen {
		margin-top: 50px;
		margin-bottom: 30px;
		overflow:hidden;


	}

}