#section-partners {
	background-color: $partnerskleur;
	
	//min-height: 100%;
	.container  {
		//min-height: 100%;
		position: relative;
	}
	
	.fieldpartnerfoto, .supplierfoto, .partnerfoto {
		a, span.leeg {
			display: block;
			@include vertical-align();
		}
		position: relative;
		img {
			width: auto;
			display: block;
			margin:auto;
		}
	}

	.fieldpartnerfoto {
		padding: 10px;
		@include breakpoint(tablet) {
			padding: 30px;
		}
		height: 100px;
		@include breakpoint(tablet) {
			height: 200px;	
		}
		
		
		img {
			//@include vertical-align();
			@include breakpoint(mobileonly) {
				max-height: 110px;
			}
			max-height: 170px;
		}
	}
	.supplierfoto {
		padding: 15px;
		height: 75px;
		@include breakpoint(tablet) {
			padding: 30px;
			height: 150px;
		}
		
		a, span.leeg {
			@include breakpoint(mobileonly) {
				margin: 3px;
			}
		}

		img {
			max-height: 130px;
		}
	}
	div.partners{
		padding: 20px;
		height: 50px;
		@include breakpoint(tablet) {
			height: 100px;
		}
		img {
			max-height: 90px;
		}
	}
}
