/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-mrt-2015, 10:08:54
    Author     : Gebruiker
*/

@import 'compass';
@import "compass/css3/user-interface";

@import 'fonts';
@import 'mixins';
@import 'colors';
@import 'variables';
@import 'iconen';
@import 'section-inschrijvingen';
@import 'section-ladies';
@import 'section-partners';
@import 'section-fotos';
@import 'section-programma';
@import 'section-contact';
@import 'button';
@import 'homepage';
@import 'partners';
@import 'header';
@import 'reglement';
@import 'inschrijven';
@import 'fotos';
@import 'test';
@import 'contact';
@import 'login';
@import 'programma';


html, body {
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0px;
}
body {
    font-family: 'MyriadProRegular';
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
}

h1, h2, h3, h4,h5 {
	text-align:center;
	width: 100%;
	color: lighten(black,3%);
	font-family: 'MyriadProBoldItalic';
}
h1 {
	@include breakpoint(tablet) {
		font-size: 72px;	
	}
	font-size: 36px;
	
	color: lighten(black,3%);
}
h3 {
	color: $donkergrijzekleur;
	font-size: 22px;
}
h5 {
	font-family: 'MyriadProLight';
	font-size: 22px;
}


.section {
	overflow:hidden;
	@include breakpoint(tablet) {
		padding: 20px 0px;		
	}
}
.section.eerstepagina {
	padding: 0px;
}

.overtest {
	display: none;
	position: fixed;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    z-index: -2;
	&:before {
	   	 	content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			@include background(linear-gradient(to bottom right, rgba(183,199,15,0.6),rgba(183,199,15,0.6)) , radial-gradient(#c00, #fff 100px));
			
	  }
}

.backstretch {
	mix-blend-mode: multiply;
}

.test {
	background-color: #758008 !important;
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
	&:before {
	   	 	content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			//@include background(linear-gradient(to bottom right, rgba(0,0,0,0.3),rgba(0,0,0,0.3)) );
			//@include background(radial-gradient(100% 100%, rgba(#758008,0), rgba(#758008,0.6)) );
			@include background(radial-gradient(35% 35%, rgba(white,0.4), rgba(white,0.0)) );
			background-position: center center;

			
			/* background: -moz-radial-gradient(center, ellipse cover,  rgba(183,193,10,0.24) 0%, rgba(183,193,10,0.24) 1%, rgba(183,193,15,0.6) 100%); FF3.6+
			background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(183,193,10,0.24)), color-stop(1%,rgba(183,193,10,0.24)), color-stop(100%,rgba(183,193,15,0.6))); Chrome,Safari4+
			background: -webkit-radial-gradient(center, ellipse cover,  rgba(183,193,10,0.24) 0%,rgba(183,193,10,0.24) 1%,rgba(183,193,15,0.6) 100%); Chrome10+,Safari5.1+
			background: -o-radial-gradient(center, ellipse cover,  rgba(183,193,10,0.24) 0%,rgba(183,193,10,0.24) 1%,rgba(183,193,15,0.6) 100%); Opera 12+
			background: -ms-radial-gradient(center, ellipse cover,  rgba(183,193,10,0.24) 0%,rgba(183,193,10,0.24) 1%,rgba(183,193,15,0.6) 100%); IE10+
			background: radial-gradient(ellipse at center,  rgba(183,193,10,0.24) 0%,rgba(183,193,10,0.24) 1%,rgba(183,193,15,0.6) 100%); W3C
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3db7c10a', endColorstr='#99b7c10f',GradientType=1 ); IE6-9 fallback on horizontal gradient  		 */
	  }
}

.pagina {
	overflow:hidden;
}

.nopadding {
	padding: 0px;
}

.nopaddingright {
	padding-right: 0px;
}

.nopaddingleft {
	padding-left: 0px;
}

.modalloading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../images/socceranimation.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modalloading {
    display: block;
}

.hidden {
	display: hidden;
}

a.terugfooter {
	display: block;
	@include transform(skew(-12deg));
	@include border-radius(5px);
	//min-width: 300px;
	max-width: 330px;
	padding: 20px 40px;
	background-color: white;
	color: $groenpartners;
	margin:auto;
	text-transform: uppercase;
	font-family: 'MyriadProBold';
	font-size: 24px;
}