<header>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<img class="img-responsive" src="{{ image("@ColdkitchenBundle/Resources/public/images/logozwart.png") }}">
			</div>
			<div class="col-sm-4">
				<div class="box">
					<div class="dummy">
					</div>	
					<a class="terug" href="{{ path('home') }}">Terug</a>
				</div>
			</div>
			<div class="col-sm-4">
				<img class="img-responsive" src="{{ image("@ColdkitchenBundle/Resources/public/images/logoladieszwart.png") }}">
			</div>
		</div>
	</div>
</header>