.paginainschrijven {

	.row {
		margin: 0px;
	}
	@include breakpoint(tablet) {
		margin-top: 35px;
	}
	h1 {
		@include breakpoint(tablet) {
			margin-bottom: 35px;
		}	
	}
	
	p {
		text-align: center;
	}

	.formulier {
		#coldkitchenbundle_speler_geboortedatumold {
			display: none;
		}
		.alert {
			max-width : 600px;
			@include border-radius(4px);
			background-color: white;
			color: $groenpartners;
			font-family: 'MyriadProBold';
			margin: auto;

		}
		.alert.success {
			
		}
		.alert.fout {
			font: white;
			background-color: red;
		}


		#tabs {
			ul {
				padding-top: 15px;
				width: 100%;
				max-width: 600px;
				text-align: left;
				display: block;
				//margin:auto;
				li {
					font-size : 23px;
					font-family: 'MyriadProBold';
					display: inline-block;
					padding: 10px;
					color: white;
					//@include box-shadow(rgba(white, 0.4) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset);
				}
			}
		}


		input[type='submit'] {
			background-color: white;
			color: $groenpartners;
			font-family: 'MyriadProBoldItalic';
			text-transform: uppercase;
			padding: 10px 35px;
			@include border-radius(5px);
			border: 0px;

		}
		@include breakpoint(tablet) {
			margin-top: 35px;
		}
		width: 100%;
		background-color: $groenpartners;
		text-align: center;
		color: white;
		h1, h2, h3, h4, h5 {
			color:white;
		}

		h2 {
			margin-bottom: 35px;
			margin-top: 35px;
		}

		p {
			font-size: 22px;
		}
		padding-bottom: 20px;
		@include breakpoint(tablet) {
			padding-bottom: 40px;	
		}

		ul {
			list-style: none;
			padding: 0px;
			li {
				list-style: none;
			}
		}

		a, a:hover, a:focus {
			color: white;
		}
		
	}
	form.spelers {
		max-width: 100%;
		.invoerveld {
			label {
				font-size: 16px;
			}
		}

	}
	form {
		max-width: 600px;
		display: block;
		margin: auto; 


		.titel {
			@include labelform();
		}

		.invoerveld {
			width: 100%;
			text-align: left;
			color: black; 
			@include border-radius(4px);
			input, select#coldkitchenbundle_ploeg_competitie {
				width: 100%;
				color: black; 
				@include border-radius(5px);
				min-height: 32px;
				border:0;
				padding:6px;
			}

			select[id^='coldkitchenbundle_ploeg_geboortedatum'],select[id^='coldkitchenbundle_speler_geboortedatum'] {
				  border-radius: 7px;
				  min-height: 32px;
				  padding: 5px;
				  margin-right: 5px;
			}

			select {
				text-align: left;
			}

			label {
				@include labelform();
			}
		}

		.adres {
			.nopaddingright {
				padding-right: 0px;
				padding-left: 7px;
			}

			.nopaddingleft {
				padding-left: 0px;
				padding-right: 7px;
			}
		}

		.captcha {
			margin-top: 20px;
			@include border-radius(5px);

			label {
				display: none;
			}
			background-color: $grijzeachtergrond;
			.image {
				padding: 7px;
				img {
					@include border-radius(5px);
				}
			}
			.antwoord {
				padding-right: 0px;
				h5 {
					font-family: 'MyriadProBold';
					font-size: 16px;
					color: black;
					text-align: left;
				}
				


				.row {
					div {
						padding:0px;
						input[type='submit'] {
							background-color: $groenpartners;
							color: white;
							font-family: 'MyriadProBoldItalic';
							text-transform: uppercase;
							
						}
						input {
							height: 28px;
							border: 0;
							@include border-radius(6px);
						}
						padding-right: 5px;
					}
					

				}
			}
		}
	}
}

#carousel-spelers {
	margin-top: 15px;
	.controls {
		margin-bottom: 10px;

		.volgende, .vorige {
			cursor: pointer;
		}
		.vorige {
			float: right;
			visibility: hidden;
		}
		.volgende {
			float:left;
		}
		#spelernaam {
			font-size: 20px;
		}
	}

	.uitleg {
		h5, h6 {
			color: $donkergroen;
			font-family: 'MyriadProRegular';
		}

		h5 {
			font-size: 20px;
		}

		h6 {
			font-size: 16px;
		}

	}


}

.hiddenspelernummer, .hiddendirty, .hiddenrow {
	display: none;
}
.spelerstabel {
	margin-top: 15px;
	
	background-color: $beheergroeneachtergrond;
	@include border-radius(5px);
	border: solid 2px white;
	table {
		margin-bottom: 0px;
		tbody {
			tr {
				td, th {
					padding: 1px;
					text-align: left;
					vertical-align: middle;
					padding-left: 4px;
				}
				td:last-child {
					img {
						display: block;
						margin:auto;
					}
				}	
			}

			tr:hover {
				td, th {
					background-color: $beheergeselecteerd;
					cursor: pointer;
				}
			}
		}
	}
}



#modalbevestig, .modal {
	color: $donkergroen;
	.modal-title {
		color: $donkergroen;
		font-family: 'MyriadProBoldItalic';
	}
	.modal-body {
		p {
			font-size: 16px;
			font-family: 'MyriadProRegular';
		}
	}
	.btn-primary {
		@include background-image(linear-gradient(to bottom, $groenekleur, $donkergroen));
		border: solid 1px white;
	}
	.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
		@include background-image(linear-gradient(to bottom, $donkergroen, $groenekleur));
		border: solid 1px darkgray;
		background-color: transparent;
		background-position: 0;
	}
}

#modalload {
	@include transition(0.05s);
	color: $groenekleur;
}

#foutmelding {
	display: none;
	color: red;
	font-family: 'MyriadProRegular';
	font-size: 18px;
	float: right;
	padding-top: 15px;
	@include breakpoint(tablet) {
		padding-top: 40px;	
	}
	i {
		//background-color: white;
	}
	
}

.groen {
	background-color: $groenekleur;
	width: 100%;
	padding: 30px;
}

#login {
	input {
		width: 100%;
		color: black; 
		@include border-radius(5px);
		min-height: 32px;
		border:0;
		padding:6px;
	}
	label {
		@include labelform();
	}

	input[type='submit'] {
		border: 0;
		color: $groenekleur;
	}
}