.paginareglement {

	h1 {

		margin-bottom: 25px;
		margin-top: 25px;

		@include breakpoint(tablet) {
			margin-bottom: 35px;
			margin-top: 35px;
		}	

	}

	footer {
		width: 100%;
		background-color: $groenpartners;
		//text-align: center;
		padding: 5px;
		@include breakpoint(tablet) {
		 	padding: 25px;
		} 

		ul {
			padding-left: 0px;
			color: white;
			li {
				list-style-position: outside;
				margin-bottom: 3px;
				@include breakpoint(tablet) {
					margin-bottom: 6px;
				}	
			}
		}

	}
}