{% extends 'base.html.twig' %}

{% block body %}
	{% include '_header.twig' %}
	<div class="contactbevestiging">
		<h1>Bedankt voor je vraag</h1>
		<br/>
		<footer>
			<div class="container">
				<h2>
					De vraag werd goed verstuurd.<br/>
				</h2>
				<p>
					We proberen zo snel mogelijk uw verzoek te verwerken.
				</p>
			</div>
		</footer>
		
{% endblock %}