{% extends 'base.html.twig' %}
{% block title %}
	Inschrijving voltooid
{% endblock %}
{% block body %}
	{% include '_header.twig' %}
	<div class="paginainschrijven">
		<h1>Bedankt voor je inschrijving</h1>
		<br/>
		<p>
			Check de mailbox van {{ email }}. <br/><br/>
			Daar vind je de bevestiging van je inschrijving. <br/>
			Je kan je ploeg vanaf nu beheren door je login en paswoord in te geven
		</p>
		<a class="button ploegbeheer" href="{{ path('ploeg_edit_kort') }}">Ploegbeheer</a> 
		<footer>
			<a class="terugfooter" href="{{ path('home') }}">terug naar de site</a>
		</footer>
{% endblock %}