{% extends 'base.html.twig' %}

{% block body %}
	{% include '_header.twig' %}
	<div class="paginainschrijven">
		<h1>Bedankt voor je inschrijving</h1>
		<br/>
		<h2>
			De inschrijving werd goed ontvangen.<br/>
			Een mail met daarin alle gegevens werd verstuurd naar {{ email }}.
		</h2>
		<p>
			Volg de instructies in de email om je ploeg te beheren.<br/>
			Klik <a href="{{ path('bewerkploeg') }}">hier</a> om naar de inlog-pagina te gaan.
		</p>

{% endblock %}