{% extends 'base.html.twig' %}
{% block title %}
	Programma
{% endblock %}
{% block body %}
	{% include '_header.twig' %}
	<div class="paginaprogramma">
		<div class="container programmatitel">
			<h1>Programma</h1>
		</div>
		
		<footer>
			<div class="container">
				<p>Het volledige programma wordt snel online geplaatst.</p>
				<br/><br/>
				<p>
					De wedstrijden gaan van start vanaf 9 uur.
					<br/>
					De finale wordt omstreeks 18u15 gespeeld.
				</p>
			</div>
		</footer>
	</div>
{% endblock %}